<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://ohqlmoorolyoxtfjnmum.supabase.co</string>
	<key>SUPABASE_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ocWxtb29yb2x5b3h0ZmpubXVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4NzcyMDMsImV4cCI6MjA2MTQ1MzIwM30.-cIjnZTkd04I_hq43qYzAYq-kbK0FFgrXWgPPSS6cP8</string>
</dict>
</plist>
