<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoicnNwZW5jZXIiLCJhIjoiY20wZ3lpcmN4MDVzNjJscTJnYmtlNnNnMSJ9.MFGDyR5V8OEZnPQTr918Rw</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to log cat sightings.</string>
</dict>
</plist>
